# ไม่เอาไฟล์ระบบของ Python
__pycache__/
*.pyc

# ไม่เอาไฟล์เก็บรหัสผ่าน (ถ้ามี)
.env

# ไม่เอาไฟล์ข้อมูลขนาดใหญ่ (ป้องกัน Error ไฟล์เกิน 100MB)
*.csv
*.jsonl
train.csv
output.jsonl

# ไม่เอาไฟล์วิดีโอ/เสียง (เผื่อมีการโหลดมาจาก yt_dlp)
*.mp4
*.webm
*.mp3
*.m4a