{% extends "base.html" %}
{% block title %}ThinkForge{% endblock %}
{% block cssContent%}

{% endblock %}
{% block content %}
<main class="flex-grow-1 d-flex align-items-center justify-content-center bg-dark text-white px-3 px-md-5">
    <div class="w-100 py-5 my-5 text-start"> 
        <h1 class="display-3 fw-bolder mb-4">Unleash Your Potential with ThinkForge</h1>
        <p class="lead mb-5 px-lg-5 opacity-75">Dive into a world of AI-powered learning and creativity tools designed to ignite your imagination and accelerate your knowledge.</p>
        <div class="d-grid gap-3 d-sm-flex justify-content-sm-start">
            <a href="/courses" class="btn btn-primary btn-lg px-4 me-sm-3">Explore Courses</a>
            <a href="#" class="btn btn-outline-secondary btn-lg px-4">Get Started Free</a>
        </div>
    </div>
</main>
{% endblock %}